<%= form_for @link,:html => { :class => "form form-inline" } do |f| %>
	<%= render 'shared/error_messages', object: @link %>
	<input id="link_rlink" name="link[rlink]" class="span6" placeholder="Enter your url" type="text">
	<%= f.submit "Shorten it!!!", class: "btn btn-primary" %>
<% end %>
<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav nav-tabs" id="myTab">
					<li class="active"><a href="#links" data-toggle="tab"><i class="icon-star-empty"></i> Links </a></li>
					<li><a href="#boxes" data-toggle="tab"><i class="icon-inbox"></i> Boxes</a></li>
				</ul>
			</div>
		</div>
<div class="row">
	<div class="span8">
		<div class="tab-content">
		<div class="tab-pane active" id="links">		
			<%= render 'links' %>
		</div>
		<div class="tab-pane active" id="boxes">		
			<%= render 'boxes' %>
		</div>
		</div>
	</div>

	<div class="span4"></div>
</div>



