<div class="hero-unit">
<h1>Welcome to EasyURL</h1>
	<%= form_for(@link) do |f| %>
	<%= render 'shared/error_messages', object: @link %>
	<input id="link_rlink" name="link[rlink]" class="span6" placeholder="Enter your looooooooong url" type="text">
	<br>
	<%= f.submit "Shorten it!!!", class: "btn btn-primary btn-large" %>
	<small>or <a id="custom">customize your URL?</a></small>
	<div id="custom-field" style="display:none">
		<%= get_base_url %>
	<input id="link_name" name="link[name]" class="span4"></div>
	<%end%>
	You can <%= link_to "sign in", signin_path %> or <%= link_to "register", signup_path %> to get more services
</div>


