<div class="well item-link">
<a class="title" href="<%= link.rlink %>"><%= link.title %></a><br>
<input type="text" class="span4"value="<%= get_base_url+link.name %>"/>
<div class="date">Created <%= time_ago_in_words(link.created_at)%> ago</div>
<div class="btn-group toolbar">
	<%= link_to 'Details' , '#', class: "btn btn-small" %>
	<%= link_to 'Details' , '#', class: "btn btn-small" %>
	<%= link_to 'Delete' , link, method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-small" %>
</div>
</div>
