<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="<%=root_path %>" id="logo">EasyURL</a>
      <nav>
        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <% if signed_in? %>
          <li><%= link_to "My Profile", current_user %></li>        
          <li class="divider-vertical"></li>
          <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Sign up", signup_path %></a></li>
          <% end %>
          <li class="divider-vertical"></li>
        </ul>
        <nav>
        </div>
      </div>
    </header>